<template>
  <footer>
      <div class="footer">
        <NuxtLink to="/terms" class="text-gray-600 hover:text-gray-700">Terms &amp; Conditions</NuxtLink> | 
        <NuxtLink to="/privacy-policy" class="text-gray-600 hover:text-gray-700">Privacy Policy</NuxtLink> |
        <NuxtLink to="/terms" class="text-gray-600 hover:text-gray-700">Prizes</NuxtLink>
      </div>
        &copy; 2021 PromoVeritas Ltd.
  </footer>
</template>

<style lang="scss">
footer {
	margin-top:80px;
	font-size:0.8rem;
	text-align: center;
	padding:10px 0;
}
</style>