<template>
  <header>
    <a href="#" class="logo">
      <Logo />
    </a>
  </header>
</template>

<style lang="scss">
header {
	padding:15px 30px;

	.logo {
		display:block;
		width:200px;

		img {
			display:block;
			max-width:100%;
			height:auto;
		}
	}
}
</style>
