<template>
    <div class="section section-your-details">
            <div class="container">
              <h2>Send Us Your Details</h2>
              <form class="form-your-details">
                <div class="row">
                  <div class="col-sm-6">
                    <h3>Personal Details</h3>
                    <div class="row">
                      <div class="col-sm-6 form-group">
                        <label class="field-label" for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" />
                      </div>
                      <div class="col-sm-4 form-group">
                        <label class="field-label" for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="field-label" for="email">Email Address</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" />
                    </div>
                    <div class="form-group">
                      <label class="field-label" for="confirmemail">Confirm Email Address</label>
                      <input type="email" class="form-control" id="confirmemail" name="confirmemail" placeholder="Email Address" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <h3>Payment Details</h3>
                    <div class="row">
                      <div class="col-sm-6 form-group">
                        <label class="field-label" for="sortcode">Sort Code</label>
                        <input type="text" class="form-control" id="sortcode" name="sortcode" placeholder="Sort Code" />
                      </div>
                      <div class="col-sm-4 form-group">
                        <label class="field-label" for="accountnumber">Account Number</label>
                        <input type="text" class="form-control" id="accountnumber" name="accountnumber" placeholder="Account Number" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="field-label" for="accountname">Account Name</label>
                      <input type="email" class="form-control" id="accountname" name="accountname" placeholder="Account Name" />
                    </div>

                    <h4>OR</h4>

                    <div class="form-group">
                      <label class="field-label" for="paypal">Paypal Email Address</label>
                      <input type="email" class="form-control" id="paypal" name="paypal" placeholder="Paypal Email Address" />
                    </div>
                    <div class="form-group">
                      <label class="field-label" for="confirmpaypal">Confirm Paypal Email Address</label>
                      <input type="email" class="form-control" id="confirmpaypal" name="confirmpaypal" placeholder="Email Address" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 buttons-row">
                    <NuxtLink to="/thanks">
                    <button class="btn btn-primary submit-entry-form">Enter the promotion</button>
                    </NuxtLink>
                  </div>
                </div>
              </form>

            </div>
          </div>
</template>

<script>
  export default {
    name: 'PostDetails',
    data(){
        return{
            form: {
              first_name: "Jane",
              last_name: "Doe",
              email: "jane@doe.com",
              verification_token: "93139981-4f3b-42bb-9cb9-1efd27753dd9",
              opt_in_email:"0",
              accept_ts_and_cs:"1" 
            }
        }
    },
    methods: {
        submit(){
            axios.post('https://0ru6ce2o40.execute-api.eu-west-1.amazonaws.com/beta/kfc-holdem/entry', this.form)
                .then(function( response ){
                    // Handle success
                }.bind(this));
        }
    }
}
</script>

<style>

</style>