<template>
  <div class="section section-enter-codes">
    <div class="container">
      <h2>Enter Your Codes</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img src="" />
            <div class="card-body">
              Visual of where the codes are (TO BE SUPPLIED)
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <form v-on:submit.prevent="submitForm" class="form-entry">
            <div class="form-group">
              <label class="field-label" for="code1">Code 1</label>
                <input v-model="form.code1" type="text" class="form-control" id="code1" name="code1" placeholder="Code 1"/>
            </div>
            <div class="form-group">
              <label class="field-label" for="code2">Code 2</label>
              <input v-model="form.code2" type="text" class="form-control" id="code1" name="code2" placeholder="Code 2"/>
              </div>
            <div class="form-group">
              <label class="field-label" for="code3">Code 3</label>
              <input v-model="form.code3" type="text" class="form-control" id="code1" name="code3" placeholder="Code 3"/>
            </div>
            <div class="form-group">
              <label class="field-label">Code 4</label>
              <input v-model="form.code4" type="text" class="form-control" id="code1" name="code4" placeholder="Code 4"/>
            </div>
            <div class="form-check">
              <input id="terms" value="" type="checkbox" class="checkbox-field" name="terms"/>
              <span class="checkmark"></span>
              <label class="label-checkbox" for="terms">I have read and agree to the<a href="terms-conditions.html">Terms &amp; Conditions</a>.</label>
            </div>
            <div class="buttons-row">
              <NuxtLink to="/claim-prize">
                <button class="btn btn-primary submit-entry-form">Enter the promotion</button>
              </NuxtLink > 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
 name: 'PostFormAxios',
 data(){
     return{
         form: {
             code1: '',
             code2: '',
             code3: '',
             code4: ''
         }
     }
 },
 methods: {
     submit(){
         axios.post('https://0ru6ce2o40.execute-api.eu-west-1.amazonaws.com/beta/kfc-holdem/verify-codes', this.form)
             .then(function( response ){
                 // Handle success
             }.bind(this));
     }
 }
}
</script>

<style>
</style>