<template>
  <div class="content-wrapper">
  			<AppHeader />
  			<div class="content" role="main">
          <div class="section section-introduction">
            <div class="container">
              <h1>Claim Your Prize</h1>
              <p>Congratulations! You are a provisional winner of <span id="prize-name">[prize name]</span> (TO BE CONFIRMED)</p>
            </div>
          </div>
          <EnterDetails /> 
  			</div>
        <AppFooter />
  </div>
</template>

<script>
export default {
  head(){
    return{
      title: "Claim Prize"
    }
  }

}
</script>

<style>

</style>