<template>
<div class="content-wrapper">
  <AppHeader />
    <div class="section section-entry section-age-gate">
      <div class="container">
        <h2>Please confirm you are over 18</h2>
        <form id="ageGateForm" v-on:submit.prevent="onSubmit()">
          <input type="number" v-model="dobDay" name="dobDay" id="dobDay" placeholder="DD">
          <input type="number" v-model="dobMonth" name="dobMonth" id="dobMonth" placeholder="MM">
          <input type="number" v-model="dobYear" name="dobYear" id="dobYear" placeholder="YYYY">
          <br>
          <input type="submit" value="Continue" class="btn btn-sm btn-primary">
        </form>
        <strong v-bind="ageErrorMessage" id="ageErrorMessage"></strong>
      </div>
    </div>
  <AppFooter />
</div>
</template>
<script>
export default {
  async fetch() {
    this.loadingData = true

    if(this.builds.length === 0) await this.LoadBuilds()

    this.loadingData = false
  },
  name: "",
  props: {
    msg: String
  },
  data() {
    return {
      dobDay: "",
      dobMonth: "",
      dobYear: "",
      ageErrorMessage: "",
      isSuccess: false
    };
  },
  methods: {
    // ...mapActions('index', ['SignIn']),
    onSubmit() {
      let data = {
        dobDay: this.dobDay,
        dobMonth: this.dobMonth,
        dobYear: this.dobYear,
        ageErrorMessage: this.ageErrorMessage,
      };

      var ageLimit = '18';
      var today = new Date(),
      dd = today.getDate(),
      mm = today.getMonth() + 1,
      yyyy = today.getFullYear();

      var setDay = dobDay.value;
      var setMonth = dobMonth.value;
      var setYear = dobYear.value;
      var fullDate = setDay + '-' + setMonth + '-' + setYear;
      console.log(fullDate);
      var errorMessageEl = ageErrorMessage;
      console.log(errorMessageEl)

      if((setDay == "") || (setMonth == "") || (setYear == "")){
        console.log( 'Nope Enter Something' );
        errorMessageEl.innerHTML = 'Please Enter Your Full Date Of Birth';
        errorMessageEl.classList.add('errored');
        return false;
      }

      if (setDay > 31 || setDay == 0 || setDay == '00') {
        errorMessageEl.innerHTML = 'Please enter a day between 1 & 31';
        errorMessageEl.classList.add('errored');
        return false;
      };
      
      if (setMonth > 12 || setMonth == 0 || setMonth == '00') {
        errorMessageEl.innerHTML = 'Please enter a month between 1 & 12';
        errorMessageEl.classList.add('errored');
        return false;
      };

      if(setYear < 1900){
        errorMessageEl.innerHTML = 'Please enter a year greater than 1900';
        errorMessageEl.classList.add('errored');
        return false;
      };
      if(setDay == 31 && setMonth == 2){
      errorMessageEl.innerHTML = "Feb doesn't have 31 days";
        errorMessageEl.classList.add('errored');
        return false;
      };
      if (setYear == (yyyy - ageLimit)) {
        if (setMonth == mm) {
          if (setDay > dd) {
            errorMessageEl.innerHTML = 'Sorry you must be ' + ageLimit + '<sup>+</sup> to enter';
            errorMessageEl.classList.add('errored');
            return false;
          } else {
            // Successful submission send data at this point
            errorMessageEl.classList.remove('errored');
            
            //return true;
            return false;
          }
        } else if (setMonth > mm) {
          errorMessageEl.innerHTML = 'Sorry you must be ' + ageLimit + '<sup>+</sup> to enter';
          errorMessageEl.classList.add('errored');
          return false;
        } else {
           // Successful submission send data at this point
          errorMessageEl.classList.remove('errored');
          
          //return true;
          return false;
        }
      }
      else if (setYear > (yyyy - ageLimit)) {
        errorMessageEl.innerHTML = 'Sorry you must be ' + ageLimit + '<sup>+</sup> to enter' ;
        errorMessageEl.classList.add('errored');
        return false;
      }
      else {
        this.$router.push('/two-option');
        errorMessageEl.classList.remove('errored');
        //return true;
        return false;
      }

    }
  }
};
 
</script>

<style lang="scss">
.section-age-gate {
  .form-agegate {
    margin-top: 30px;

    #day,
    #month {
      width: 70px;
    }
    #year {
      width: 105px;
    }
  }
  .form-control {
    margin: 0 10px 0 0;
  }
  .alert {
    margin-top: 30px;
  }
  #ageErrorMessage{
    display: none;
  }
  #ageErrorMessage.errored{
    display: block;
  }
  
}
</style>
