<template>
  <div class="content-wrapper">
  			<AppHeader />
  			<div class="content" role="main">
          <div class="section section-introduction">
            <div class="container">
              <h1>Make a choice</h1>
              <p>Some call to action text here...</p>
            </div>
          </div>
          <div class="section section-two-sides">
            <div class="container">
              <h2>Go left or right</h2>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <a href="https://www.kfc.co.uk/kfc-near-me" target="_blank">
                      <div class="card-body">
                        Please redeem your food prize in restaurant not later than 5th September 2021. To find your nearest restaurant click here. (TO BE CONFIRMED)
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                     <NuxtLink to="/enter-promotion" class="text-gray-600 hover:text-gray-700">
                      <div class="card-body">
                        To redeem your prize, please click on this link (TO BE CONFIRMED)
                      </div>
                    </NuxtLink>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
         <AppFooter />
      </div>
</template>

<script>
export default {
  

}
</script>

<style>

</style>